body {
    background-image: linear-gradient(to right, black, white);
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  /*HAVE THE AT WAR STUDIO IN THE BACKGORUND, THAT OR HAVE IT AT THE TOP WIHT THE BANNER*/

h1{
  font-size: 40px;
  font-weight: 500;
  line-height: 55px;
  width: fit-content;
}

h2{
  font-size: 35px;
  font-weight: 500;
  line-height: 45px;
}

h4{
  font-size: 35px;
  font-weight: 400;
  line-height: 25px;
}

p{
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.navbar{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /*z-index: 1000;*/
  margin:0px;
}

.navbar a{
  text-decoration: none;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.navbar .container ul li a::before{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000000;
  bottom: 0px;
  left: 50%;
  transition: all 0.3s ease-in-out;
}

.navbar .container ul li a:hover::before{
  width: 100%;
  left: 0;
}

.navbar .navbar-brand {
  height: 35px;
  overflow: hidden;
}

.navbar .navbar-brand {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: white !important;  /* Ensure the color is white and has precedence */
  text-transform: uppercase;
  letter-spacing: 3px;
  height: 60px;
  overflow: hidden;
  display: block;  /* Ensures the element is properly block-level for background styling */
}

.navbar ul a {
  font-size: 22px;
  font-weight: 400;
  color: #000000;
  text-transform: capitalize;
}

.header {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  position: relative;
}

.header .container {
  position: relative;
  width: 100%;
  height: 100%;
}

.header .container .image-container-showcase {
  height: 100%;
  width: auto*4;  /* This needs to be 100% times the number of images to accommodate all side by side */
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease-in-out;  /* Transition for smooth sliding */
}

.image-container-showcase img {
  width: 100%;  /* Full width of the container */
  height: 100%;  /* Full viewport height */
  object-fit: cover;  /* Ensure images cover the area appropriately */
  display: block;  /* Block display to avoid any inline gaps */
}

#left-button, #right-button {
  position: absolute;
  bottom: 20px;
  transform: translateX(-50%); /* Centers the midpoint of the buttons' group at 50% */
  z-index: 10;
  background: white; /* Ensure no background color is visible */
  border-color: black; /* Remove any default border */
  color: inherit; /* Inherit the text color from parent, if needed */
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  border-radius: 50%;
  font-size: 16px;
  margin: 4px 2px;
  text-align: center;
  padding: 10px;
  display: inline-block;
}

#left-button {
  left: calc(90% - 35px); /* Shifts left button to the left side of center */
  border-color: #000000;
}

#right-button {
  left: calc(90% + 35px); /* Shifts right button to the right side of center */
  border-color: #000000;
}

#left-button:hover, #right-button:hover {
  background-color: grey; /* Black background on hover */
  color: black; /* White color for the icons on hover */
  transition: all 0.5s;
}

#left-button i, #right-button i {
  padding: 10px; /* Padding around the icons for better area of interaction */
}

@media screen and (max-width: 600px) {
  /* Adjustments for smaller screens */
}

/*FONTS*/

/*JOST FONT*/
.jost-font {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300; /* <weight>: Use a value from 100 to 900*/
  font-style: normal;
}

/*ROBOTO FONT*/
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*OPEN SANS FONT*/

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /*// <weight>: Use a value from 300 to 800*/
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}