body {
    background-image: url('Congrats!-002.jpg');
  }
  /*HAVE THE AT WAR STUDIO IN THE BACKGORUND, THAT OR HAVE IT AT THE TOP WIHT THE BANNER*/

body{
  position: relative;
}

h1{
  font-size: 40px;
  font-weight: 500;
  line-height: 55px;
  width: fit-content;
}

h2{
  font-size: 35px;
  font-weight: 500;
  line-height: 45px;
}

h4{
  font-size: 35px;
  font-weight: 400;
  line-height: 25px;
}

p{
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

#black-to-white-gradient{
  background-color: grey;
  background-image: linear-gradient(to right, black, white)
}

.navbar{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header{
  background-image: url(./img/Landscape/ian-schneider-TamMbr4okv4-unsplash.jpg);
  height: 100vh;
  width: 100%;
  background-position: center; /*bottom, center look good, pick which ones do later*/
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.header .box{
  position:absolute;
  top: 50%;
  left: 6%;
  transform: translate(0%, -50%);
  max-width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header .container .box{
  position: absolute;
  top: 25%;
  left: 6%;
  transform: translate(0%, -50%);
  max-width: 50%;
  height: fit-content;
}

.header .box h1{
  color: black;
}

.header .box h2{
  color: black;
}

.header .box p{
  color: black;
}

/*JOST FONT*/
.jost-font {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300; /* <weight>: Use a value from 100 to 900*/
  font-style: normal;
}

/*ROBOTO FONT*/
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*OPEN SANS FONT*/

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /*// <weight>: Use a value from 300 to 800*/
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}